In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("org")

In [3]:
pwd

u'D:\\batch50'

In [4]:
cur.execute("create table emp_d(id int, age int, name varchar(250))")

NameError: name 'cur' is not defined

In [6]:
cur=con.cursor()

In [7]:
cur.execute("create table emp_d(id int, age int, name varchar(250))")

In [8]:
q="insert into emp_d(id,age,name) values (1,26,'sumit')"
cur.execute(q)
con.commit()

In [9]:
q="update emp_d set age=25 where id=1"
cur.execute(q)
con.commit()

In [10]:
q="insert into emp_d (id,age,name) values (2,19,'ankit')"
cur.execute(q)
con.commit()

In [12]:
q="delete from emp_d where id=1"
cur.execute(q)
con.commit()

In [18]:
import random
names=["samba","praveen","arun","mahesh","jeevan","nikhila","sumith"]
age=22
for i in range(100):
    q="insert into emp_d(id,age,name) values(%s,%s,'%s')"%(i,age,random.choice(names))
    cur.execute(q)
con.commit()