In [1]:
postgresql

NameError: name 'postgresql' is not defined

In [2]:
import sqlite3

In [3]:
con=sqlite3.connect("batch50")

In [4]:
cur=con.cursor()

In [6]:
cur.execute("create table customer(id int, name varchar(250))")

OperationalError: table customer already exists

In [8]:
q="insert into customer(id,name)values(1,'anil')"
cur.execute(q)

In [9]:
con.commit()

In [11]:
q="update customer set name='anil kumar' where id=1"
cur.execute(q)
con.commit

In [3]:
import sqlite3
con=sqlite3.connect("batch50")
cur= con.cursor()

In [5]:
q="insert into customer(id,name)values(1,'anil2')"
cur.execute(q)

In [6]:
import sqlite3

In [7]:
con=sqlite3.connect("batch50")

In [8]:
cur=con.cursor()

In [10]:
cur.execute("create table buyer(id int, name varchar(250))")

OperationalError: database is locked

In [1]:
import sqlite3

In [2]:
con=sqlite3.connect("nw_bd")

In [3]:
cur=con.cursor()

In [4]:
q="create table persons( id int, name varcher(200))"

In [7]:
cur.execute(q)
con.commit()

OperationalError: table persons already exists

In [8]:
cur.execute("create table worker(id int, name varcher(250))")
con.commit()

In [9]:
con=sqlite3.connect("batch50")

In [10]:
cur=con.cursor()

In [12]:
cur.execute("create table worker(id int, name varchar(250))")
con.commit()

In [13]:
cur.execute("insert into worker(id,name)values(1,'ankit')")
con.commit()

OperationalError: database is locked

In [14]:
cur.execute("insert into worker(id,name)values(3,'ankit')")
con.commit()

OperationalError: database is locked