In [1]:
postgresql

NameError: name 'postgresql' is not defined

In [2]:
import sqlite3

In [3]:
con=sqlite3.connect("batch50")

In [4]:
cur=con.cursor()

In [6]:
cur.execute("create table customer(id int, name varchar(250))")

OperationalError: table customer already exists

In [8]:
q="insert into customer(id,name)values(1,'anil')"
cur.execute(q)

In [9]:
con.commit()

In [11]:
q="update customer set name='anil kumar' where id=1"
cur.execute(q)
con.commit